.container{
    margin-bottom: 50px;
}




.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #000000;
}

.buy{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

.H1, .pa, .buy{
    padding: 10px 20px;
}